#cookie-box {
  position: fixed;
  bottom: 20px;
  left: 0;
  background: rgb(245 245 244);
  backdrop-filter: blur(10px);
  border-radius: 14px;
  box-shadow: 0 16px 32px rgba(0,0,0,0.12);
  padding: 16px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* MINIMIZED: linguetta */
#cookie-box.minimized {
  width: 220px;
  max-height: 60px;
  overflow: hidden;
  background: rgb(216 168 79 / 0.9)
;  transform: translateX(-200px);
}

#cookie-box.minimized:hover {
  transform: translateX(-160px);
}

/* EXPANDED: centrato in basso */
#cookie-box.expanded {
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  max-width: 90%;
  min-width: 320px;
  cursor: default;
  overflow: visible;
}

/* HEADER */
.cookie-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.cookie-logo { height: 40px; width: auto; }

.cookie-title {
  flex: 1;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #444;
}

.cookie-toggle {
  background: transparent;
  padding-right: 5px;
  padding-bottom: 15px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #444;
  transition: transform 0.2s ease;
}

.cookie-toggle:hover {
  transform: translateX(5px);
}

/* BODY */
.cookie-body {
  font-size: 13px;
  color: #444;
  line-height: 1.5;
  text-align: justify;
  display: block;
}

/* FOOTER */
.cookie-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.cookie-links {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cookie-actions {
  display: flex;
  gap: 8px;
}

/* BOTTONI */
.cookie-btn {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.cookie-accept {
  background: rgb(216 168 79 / 0.9);
  color: white;
  border: none;
}

.cookie-accept:hover {
  background: #660000;
}

.cookie-reject {
  background: transparent;
  border: 1px solid #b89b5e;
  color: #b89b5e;
}

.cookie-reject:hover {
  background: #444;
}

/* MOBILE */
@media (max-width: 768px) {
  #cookie-box.minimized {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  #cookie-box.expanded {
    width: 90%;
  }
  .cookie-footer {
    flex-direction: column;
    gap: 8px;
  }
  .cookie-links, .cookie-actions {
    justify-content: center !important;
  }
}
